body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
    border: 20px solid darkred;
    background-color: black;
    color: brown;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.sq {
    width: 100px;
    height: 100px;
    border: 2px solid brown;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
}

.rel1 {
    background-color: yellowgreen;
    position: relative;
    top: 40px;
    left: 20px;
    z-index: 2;
}

.rel2 {
    background-color: mediumseagreen;
    position: relative;
    top: 10px;
    z-index: 1;
}
.rel3 {
    background-color: darkgoldenrod;
    position: relative;
    bottom: 100px;
    left: calc(100vw - 140px);
    z-index: 3;
}
.abs1 {
    background-color: darkmagenta;
    position: absolute;
    top: 1000px;
    left: 0;
    z-index: 100;
}
.abs2 {
    background-color: darkgreen;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    border: 2px dotted skyblue;
    position: relative;
}
.fix1 {
    background-color: blue;
    position: fixed;
    top: calc(100vh - 120px);
    left: 10px;
    z-index: 100;
}