.join-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    h3 {
        margin-bottom: 0;
    }
    .text {
        text-align: center;
        width: 80%;
    }
    .head-line {
        width: 85%;
        height: auto;
        position: relative;

        & > * {
            position: absolute;
        }

        a {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        img[alt="line"] {
            width: 100%;
        }
        
        img[alt="face"] {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;

            &:nth-child(1) {

            }
        }

        & > p {
            display: inline;
            top: 65px;
            right: 12%;
        }
    }
}