$primary-color: #9a54bc;
$secondary-color: #60267f;
// $lighter-color: #f5e1ff;
$lighter-color: rgba(245, 225, 255, 0.3);
$darker-color: rgba(245, 225, 255, 0.8);
$light-bg: rgba(226, 189, 242, 0.11);