*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pijamas';
    src: url('./fonts/Pijamas.ttf');
}

html {
    scroll-behavior: smooth;
}

.section-1 {
    background-color: #444;
    color: #fff;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 20rem;
    width: 14rem;
    perspective: 100rem;

    position: relative;
}

.card-side {
    height: 20rem;
    width: 14rem;
    box-shadow: 0 0 10px #222;
    border-radius: 10px;
    font-family: 'Pijamas';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;

    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    
    transition: all 1s ease;
}

.card-front {
    background-color: firebrick;
}

.card-back {
    background-color: black;
    transform: rotateY(180deg);
}

.card:hover .card-front {
    transform: rotateY(-180deg);
}

.card:hover .card-back {
    transform: rotateY(0);
}

.section-2 {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('wallhaven.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.btn:link, .btn:visited {
    font-family: "Pijamas";
    font-size: 4rem;
    text-decoration: none;
    color: black;
    padding: 30px 70px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 100rem;
    backface-visibility: hidden;

    position: relative;

    transition: all .2s;
}

.btn::after {
    background-color: rgba(255, 255, 255, 0.5);
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all .5s;

}

.btn:hover {
    transform: translateY(-7px) scale(1.1);
    box-shadow: 0 10px 20px #111;
}

.btn:active {
    transform: translateY(-2px) scale(1);
    box-shadow: 0 5px 10px #111;
}

.btn::after:hover {
    transform: scaleX(1.6) scaleY(1.8);
    opacity: 0;
    
}