div {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    display: inline-block;
}
.c1 {
    background-color: #A93F55FF;
}
.c2 {
    background-color: blue;
}
.c3 {
    background-color: blueviolet;
}
.c4 {
    background-color: brown;
}
.c5 {
    background-color: chartreuse;
}